@{
    ViewBag.Title = "Assignment 1 About Page!";
    ViewBag.Message = "A brief blurb about this page!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This Web Application's purpose is to fulfil the requirements for Assignment 1. The programming will be done by Adam Chimienti, a Second Year, Fourth Semester Student at Seneca College in Toronto, Ontario Canada.</p>
