@{
    ViewBag.Title = "Contact!";
    ViewBag.Message = "Contact Information for the Designer of this page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seneca College<br />
    Toronto, Ontario Canada<br />
    <abbr title="Phone">P:</abbr>
    416-555-5555
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:achimienti@myseneca.ca">achimienti@myseneca.ca</a><br />
    <strong>Company Contact:</strong> <a href="mailto:ServiceDesk@senecacollege.ca.">ServiceDesk@senecacollege.ca.</a>
</address>