@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1</h1>
    <p class="lead">This Web Application is to fulfill the requirements for Int422 Assignment 1</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment1.html" target="_blank" class="btn btn-primary btn-lg">To Assignment 1 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seneca College</h2>
        <p>
            Seneca College Homepage Link
        </p>
        <p><a class="btn btn-default" href="http://www.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca Blackboard</h2>
        <p>Seneca Blackboard Link</p>
        <p><a class="btn btn-default" href="https://my.senecacollege.ca/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_16_1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca College</h2>
        <p>Seneca College ICT Homepage</p>
        <p><a class="btn btn-default" href="https://ict.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
</div>