@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 5</h1>
    <p class="lead">This is the webpage for INT422 Assignment 3</p>
    <p><a href="http://www.senecacollege.ca/" class="btn btn-primary btn-lg">Assignment 3 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seneca College</h2>
        <p>
            Link to the Seneca College Website
        </p>
        <p><a class="btn btn-default" href="http://www.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca Blackboard</h2>
        <p>Link to Seneca Blackboard</p>
        <p><a class="btn btn-default" href="https://my.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca ICT Website</h2>
        <p>Link to Seneca IBC Website</p>
        <p><a class="btn btn-default" href="https://ict.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
</div>

