@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ponc Road<br />
    Toronto, Canada<br />
    <abbr title="Phone">P:</abbr>
    416-283-52929
</address>

<address>
    <strong>Contact Info:</strong>   <a href="mailto:adam_chimienti@hotmail.com">adam_chimienti@hotmail.com</a><br />
</address>