@{
    ViewBag.Title = "Contact";
}
<h2>Contact Page</h2>
<h3>Adam Chimienti's contact page</h3>

<address>
    The Pond Road<br />
    Toronto Canada<br />
    <abbr title="Phone">P:</abbr>
    416-283-5892
</address>

<address>
    <strong>Contact: </strong>   <a href="mailto:adam_chimienti@hotmail.com">Support@example.com</a><br />
    
</address>