@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 4</h1>
    <p class="lead">This is the home page of INT422 Assignment 4</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seneca College</h2>
        <p> Link to Seneca College </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Link to Seneca BlackBoard</h2>
        <p>This is the link to the Seneca Blackboard website</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Link to ICT Seneca Website</h2>
        <p>This is a link to the ICT Seneca Website</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>