@{
    ViewBag.Title = "About";
    ViewBag.Message = "Adam Chimienti's Assignment 2 page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Adam Chimienti's Assignment 2 Page. Feel Free to Browse around and discover what this website has to offer!</p>
