@{
    ViewBag.Title = "Contact Page";
    ViewBag.Message = "Adam Chimienti's Contact Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seneca College<br />
    1 Le Pong Road<br />
    <abbr title="Phone">Phone Number:</abbr>
    416-555-5555
</address>

<address>
    <strong>Adam's email:</strong>   <a href="mailto:achimienti@myseneca.ca">achimienti@myseneca.ca</a><br />
</address>