@{
    ViewBag.Title = "Assignment 2";
}

<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">Adam Chimienti's Assignment 2</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seneca College</h2>
        <p>
            Link to the Seneca College Website
        </p>
        <p><a class="btn btn-default" href="http://www.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca Blackboard</h2>
        <p>Link To Seneca Blackboard</p>
        <p><a class="btn btn-default" href="https://my.senecacollege.ca/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_16_1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca ICT Website</h2>
        <p>ict website</p>
        <p><a class="btn btn-default" href="https://ict.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
</div>