@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6</h1>
    <p class="lead">Int422 Assignment 6</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seneca College ICT</h2>
        <p>
            Seneca College Link
        </p>
        <p><a class="btn btn-default" href="https://ict.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca College</h2>
        <p>Seneca College Link</p>
        <p><a class="btn btn-default" href="http://www.senecacollege.ca/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca Blackboard</h2>
        <p>Seneca Blackboard Link</p>
        <p><a class="btn btn-default" href="https://my.senecacollege.ca/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_16_1">Learn more &raquo;</a></p>
    </div>
</div>